* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg 
{
    width: 100%;
    height: 947px;
    filter: blur(50px);
    background-image: url("yes_img/bg.jpg");
}
.real_img
{
    position: absolute;
    top: 0px;
    left: 487px;
    width: 947px;
    height: 100%;

}
.nav
{
    display: flex;
    position: absolute;
    width: 100%;
    right: 0px;
    height: 34px;
    top: 20px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.nav img
{
    position: relative;
    margin-left: 33px;
    height: 45px;
    width: 95px;
    
}
.user_name
{
    height: 34px;
    position: absolute;
    display: flex;
    margin-left: 757px;

    width: 406px;
    opacity: 0.7;
    border-radius: 17px;
    background-color: #000000;
}

.name
{
    position: relative;
    left: 35px;
    align-self: center;
    height: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

}
.explain
{
    position: relative;
    left: 30px;
    align-self: center;
    height: 20px;
    margin: 2px 0 0 19px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

}

.right_menu_bar
{
    position: absolute;
    display: flex;
    margin-left: 1582px;
}



.left_right
{
    display: flex;
    background: url(yes_img/bg_slideBar.svg);
    width: 69px;
    height: 34px ;
}

.left
{
    background: url(yes_img/button_previous.svg);
    width: 30px;
    cursor: pointer;
}
.right
{
    margin-left: 5px;
    background: url(yes_img/button_next.svg);
    width:30px;
    cursor: pointer;
}

.auto
{
    margin-left: 4px;
    background: url(yes_img/button_autoSlidesShow.svg);
    width: 69px;
    cursor: pointer;
    border: none;
}
.setting
{
    margin-left: 4px;
    background: url(yes_img/button_settings.svg);
    width: 34px;
    cursor: pointer;
}

.option
{
    display: flex;
    margin-left: 20px;
    background: url(yes_img/bg_menuBar.svg);
    width: 118px;
}
.img_button
{
    
    margin-left: 8px;
    margin-top: 7px;
    background: url(yes_img/button_collecting_On.svg);
    width: 34px;
    cursor: pointer;
    height: 20px;
}
.picture
{
    margin-left: 8px;
    background: url(yes_img/button_images&videos.svg);
    width: 23px;
    height: 20px;
    margin-top: 7px;
    cursor: pointer;
}
.parti
{
    margin-left: 15px;
    background: url(yes_img/button_participants.svg);
    width: 20px;
    height: 20px;
    margin-top: 7px;

}
.test
{
    border: 1px solid red;
}

